.contenedorContacto {
    display: flex;
    justify-content: map-get($flexbox, justificarCentro);
    align-items: map-get($flexbox, alinearCentro);
    height: 768px;
    padding: 2rem;
    background-color: $beige;

    .btn-primary {
        background-color: $verde;
        border-color: $verde;
        color: $beige;
    }

    .form-check-input:checked {
        background-color: $verde;
        border-color: $verde;
    }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #000000;
}