.contenedorError404 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $beige;

    .error404 {
        width: 100%;
        max-width: 1000px;
        height: auto;
        position: relative;
        display: inline-block;
    }

    .btn {
        position: absolute;
        top: 730px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bolder;
    }
}