footer {
    width: 100%;

    .footer {
        width: 100%;
        background-color: $verde;

        .container {

            background-color: $verde;

            .row {
                .col-lg-4 {
                    .redesSociales {
                        display: flex;
                        justify-content: map-get($flexbox, justificarCentro);
                        align-items: map-get($flexbox, alinearCentro);
                        margin: 0%;
                        padding: 20px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        margin-bottom: 0%;
                        font-size: 30px;

                        .fb {
                            width: 30px;
                            height: 30px;
                            .facebook{
                                height: 100%;
                            }

                        }

                        .ig {
                            width: 30px;
                            height: 30px;
                            .instagram{
                                height: 100%;
                            }
                        }
                    }

                    .contacto {
                        padding-top: 16px;
                        margin: 0%;
                        font-size: 18px;
                        font-weight: bolder;
                        color: $beige;
                    }

                    .info {
                        margin: 0%;
                        color: $beige;
                    }

                    .telefono {
                        color: $beige;
                    }

                    .autor {
                        @extend .contacto
                    }

                    .autorTexto {
                        color: $beige;
                    }
                }
            }
        }
    }
}