footer {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background-color: $verde;

    .footer {
        width: 80%;

        .container {
            background-color: $verde;

            .row {
                .col-lg-4 {
                    .redesSociales {
                        display: flex;
                        justify-content: map-get($flexbox, justificarCentro);
                        align-items: map-get($flexbox, alinearCentro);
                        margin: 0%;
                        padding: 20px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        margin-bottom: 0%;
                        font-size: 30px;

                        .facebook {
                            width: 30px;
                            height: 30px;
                            
                        }

                        .instagram {
                            width: 30px;
                            height: auto;
                        }
                    }

                    .contacto {
                        padding-top: 16px;
                        margin: 0%;
                        font-size: 18px;
                        font-weight: bolder;
                        color: $beige;
                    }

                    .info {
                        margin: 0%;
                        color: $beige;
                    }

                    .telefono {
                        color: $beige;
                    }

                    .autor {
                        @extend .contacto
                    }

                    .autorTexto {
                        color: $beige;
                    }
                }
            }
        }
    }


}