@media screen and (max-width: 375px) {
    // header {
    //     .contenedorLogoTitulo {
    //         .logoTitulo {
    //             .titulo {
    //                 h1 {
    //                     font-size: 25px;
    //                 }
    //             }
    //         }
    //     }
    // }
}

@media screen and (max-width: 1366px) {
    .contenedorMain {
        height: 768px;
    }

    .campingsInicio {
        .grillaImagenes {
            width: 335px;
        }

        .introduccion {
            .contenedorIntroduccion {
                width: 335px;
            }
        }
    }

}

@media screen and (max-width: 900px) {
    .contenedorMain {
        display: flex;
        flex-direction: column;

        .contenedorImagenes {
            @include padding (20px, 0px);
            padding-right: 20px;

            .imagenPaginas {
                width: 100%;
                max-width: 600px;
                height: auto;
                border-radius: $border-radius;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    header {
        .contenedorLogoTitulo {
            .logoTitulo {
                .titulo {
                    h1 {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    .contenedorMain {
        height: auto;

        .contenedorImagenes {
            padding-bottom: 10px;
        }
    }

    .contenedorError404 {
        .btn {
            height: auto;
            font-size: 12px;
            position: absolute;
            top: 355px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .col-lg-4 {
        .redesSociales {
            display: flex;
            width: 355px;
            padding: 0px;
            margin: auto;
            padding: auto;
        }

        .contacto {
            padding-left: 8px;
        }

        .info {
            padding-left: 8px;
        }

        .telefono {
            padding-left: 8px;
            margin-bottom: 0%;
        }

        .autorTexto {
            padding-left: 8px;
        }
    }
}