@media screen and (max-width: 5000px) {
    .contenedorMain {
        height: 768px;
    }
}

@media screen and (max-width: 900px) {
    .contenedorMain {
        display: flex;
        flex-direction: column;

        .contenedorImagenes {
            @include padding (20px, 0px);
            padding-right: 20px;

            .imagenPaginas {
                width: 100%;
                max-width: 600px;
                height: auto;
                border-radius: $border-radius;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    header {
        .contenedorLogoTitulo {
            .logoTitulo {
                .titulo {
                    h1 {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .contenedorMain {
        height: 768px;

        .contenedorImagenes {
            padding-bottom: 20px;
        }
    }

    .campingsInicio {
        .grillaImagenes {
            width: 335px;
        }

        .introduccion {
            .contenedorIntroduccion {
                font-size: 16px;
                width: 335px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }

    .contenedorMain {
        height: auto;

        .campingsInicio {
            .grillaImagenes {
                width: 3px;
            }

            .introduccion {
                .contenedorIntroduccion {
                    font-size: 16px;
                    width: 335px;
                }
            }
        }
    }

    .contenedorContacto {
        height: auto;
    }

    .contenedorError404 {
        .btn {
            height: auto;
            font-size: 12px;
            position: absolute;
            top: 355px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .col-lg-4 {
        .redesSociales {
            display: flex;
            width: 355px;
            padding: 0px;
            margin: auto;
            padding: auto;
        }

        .contacto {
            padding-left: 8px;
        }

        .info {
            padding-left: 8px;
        }

        .telefono {
            padding-left: 8px;
            margin-bottom: 0%;
        }

        .autorTexto {
            padding-left: 8px;
        }
    }
}