main {
    max-width: 1366px;
    width: 100%;

    .contenedorMain {
        display: flex;
        justify-content: space-evenly;
        background-color: $beige;

        .contenedorImagenes {
            padding-bottom: 50px;
            padding-top: 50px;

            .imagenPaginas {
                border-radius: $border-radius;
                
                width: 100%;
                height: auto;

            }
        }

        .contenedorBotones {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0px;

            .tituloDropdown {
                @include padding (10px, 5px);
                margin: 0%;
                font-size: 16px;
                font-weight: bold;
            }

            .btn-group {
                padding: 20px;
                padding-top: 0%;

                .btn {
                    border-color: #51a351 #51a351 #387038;
                    border-top-color: #606c38;
                    border-right-color: #606c38;
                    border-bottom-color: #283618;
                    Border-left-color: #606c38;
                    background: linear-gradient(to right top, #606c38, #283618);
                }
            }
        }
    }

}