* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Roboto", sans-serif;
  background-color: #606c38;
  margin: 0px;
}
header .contenedorLogoTitulo {
  display: flex;
  justify-content: center;
  background-color: #fefae0;
}
header .contenedorLogoTitulo .logoTitulo {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefae0;
}
header .contenedorLogoTitulo .logoTitulo .logo .icon {
  font-size: 50px;
}
header .contenedorLogoTitulo .logoTitulo .titulo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
header .contenedorLogoTitulo .logoTitulo .titulo h1 {
  font-weight: bolder;
  margin-bottom: 0;
  font-size: 30px;
}
header .navbar {
  margin: 0 auto;
  padding: 0;
}
header .navbar .container-fluid {
  background-color: #606c38;
}
header .navbar .container-fluid .navbar-toggler {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-color: #fefae0;
}
header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28254, 250, 224, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header .navbar .collapse .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}
header .navbar .collapse .nav-link:hover {
  color: rgb(136, 132, 132);
}
header .navbar .collapse .navbar-nav {
  background-color: #606c38;
}
header .navbar .collapse .navbar-nav li a {
  color: #fefae0;
  font-size: 20px;
}
header .navbar .collapse .navbar-collapse {
  background-color: #606c38;
  font-size: 20px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.campingsInicio {
  background-color: #fefae0;
}
.campingsInicio .grillaImagenes {
  padding-top: 20px;
  min-height: 250px;
  width: 65%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.campingsInicio .grillaImagenes .imagenDeGrilla {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.campingsInicio .introduccion .contenedorIntroduccion {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  width: 65%;
  font-size: 25px;
  margin: 0 auto;
}

.contenedorMain {
  display: flex;
  justify-content: space-evenly;
  background-color: #fefae0;
}
.contenedorMain .contenedorImagenes .imagenPaginas {
  width: 100%;
  max-width: 600px;
  height: 400px;
  padding-bottom: 50px;
  padding-top: 50px;
  border-radius: 10px;
}
.contenedorMain .contenedorBotones {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
}
.contenedorMain .contenedorBotones .tituloDropdown {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0%;
  font-size: 16px;
  font-weight: bold;
}
.contenedorMain .contenedorBotones .btn-group {
  padding: 20px;
  padding-top: 0%;
}
.contenedorMain .contenedorBotones .btn-group .btn {
  border-color: #51a351 #51a351 #387038;
  border-top-color: #606c38;
  border-right-color: #606c38;
  border-bottom-color: #283618;
  Border-left-color: #606c38;
  background: linear-gradient(to right top, #606c38, #283618);
}

.contenedorError404 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefae0;
}
.contenedorError404 .error404 {
  width: 100%;
  max-width: 1000px;
  height: auto;
  position: relative;
  display: inline-block;
}
.contenedorError404 .btn {
  position: absolute;
  top: 730px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
}

.contenedorContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fefae0;
}
.contenedorContacto .btn-primary {
  background-color: #606c38;
  border-color: #606c38;
  color: #fefae0;
}
.contenedorContacto .form-check-input:checked {
  background-color: #606c38;
  border-color: #606c38;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #000000;
}

.footer {
  background-color: #606c38;
}
.footer .container {
  background-color: #606c38;
}
.footer .container .row .col-lg-4 .redesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0%;
  font-size: 30px;
}
.footer .container .row .col-lg-4 .redesSociales .facebook {
  padding-right: 5px;
  font-size: 30px;
}
.footer .container .row .col-lg-4 .redesSociales .instagram {
  padding-left: 5px;
}
.footer .container .row .col-lg-4 .contacto, .footer .container .row .col-lg-4 .autor {
  padding-top: 16px;
  margin: 0%;
  font-size: 18px;
  font-weight: bolder;
  color: #fefae0;
}
.footer .container .row .col-lg-4 .info {
  margin: 0%;
  color: #fefae0;
}
.footer .container .row .col-lg-4 .telefono {
  color: #fefae0;
}
.footer .container .row .col-lg-4 .autorTexto {
  color: #fefae0;
}

@media screen and (max-width: 376px) {
  header .contenedorLogoTitulo .logoTitulo .titulo h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 900px) {
  .contenedorMain {
    display: flex;
    flex-direction: column;
  }
  .contenedorMain .contenedorImagenes .imagenPaginas {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 375px) {
  .contenedor .error404 {
    position: absolute;
    top: 355px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*# sourceMappingURL=styles.css.map */
